<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit-table.css') }}">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script defer src="{{ url_for('static', filename='edit-table.js') }}"></script>
<style>
    .menu {
        display: flex; /* Use flexbox */
	width: 100%;
    }

</style>
  </head>
<body>
	      <div class="menu" style="background-color: #000000; color: #333;">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="dashboard" href="/dashboard">Dashboard</a>
	  <a class="nav-item nav-link" id="settings" href="/settings">Settings</a>
          <a class="nav-item nav-link" id="userSettings" href="/user-settings">User</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Exit</a>

          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
      </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% block javascript %}

<script type="text/javascript">
  // delete selected item from database using itemId
  function deleteItem(itemId) {
    fetch("/delete-item", {
      method: "POST",
      body: JSON.stringify({ itemId: itemId }),
    }).then((_res) => {
      window.location.href = "/";
    });
  }
</script>
<script>
function updateItem(rowId) {

  // Implement update logic using the rowId
  var row = document.getElementById("row_" + rowId);
  var merchant = row.cells[0].innerText;
  var item = row.cells[1].innerText;
  var price = row.cells[2].innerText;
  var quantity = row.cells[3].innerText;
  var date = row.cells[4].innerText;
  var receiptNumber = row.cells[5].innerText;

  // Create a JSON object
  var updateData = {
    itemId: rowId,
    merchant_name: merchant,
    item_name: item,
    price: price,
    quantity: quantity,
    date: date,
    receipt_number: receiptNumber,
  };

  // Send the JSON object in the fetch request
  fetch("/update-item", {
    method: "POST",
    body: JSON.stringify(updateData),
  }).then((_res) => {
    window.location.href = "/";
  });
}
 
</script>

{% endblock %}

  </body>
</html>
