{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Dashboard Settings</h1>
    <form method="post">
        <label for="dropdown">Select Chart Type:</label>
        <select name="dropdown" id="dropdown">
            {% for option in options %}
                <option value="{{ option }}" {% if selected_option == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
	<br>
        <label for="dropdown">Select Colour Scheme:</label>
        <select name="dropdown2" id="dropdown2">
            {% for option2 in options2 %}
                <option value="{{ option2 }}" {% if selected_option2 == option2 %}selected{% endif %}>{{ option2 }}</option>
            {% endfor %}
        </select>
	<br>
	<label for="dropdown">X Co-ordinate:</label>
	<select name="dropdown3" id="dropdown3">
	    {% for option3 in options3 %}
	        <option value"{{ option3 }}" {% if selected_option3 == option3 %}selected{% endif %}>{{ option3 }}</option>
	    {% endfor %}
	</select>
	<br>
	<label for="drowdown">Y Co-ordinate:</label>
	<select name="dropdown4" id="dropdown4">
	    {% for option4 in options4 %}
	        <option value"{{ option4 }}" {% if selected_option4 == option4 %}selected{% endif %}>{{ option4 }}</option>
	    {% endfor %}
	</select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
